<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 calendar">
            <div class="herotext">
                <div class="row">
                    <p class="weekly">Ristorante El Goblino</p>
                    <p class="subtitle"> Delivering scuffed food for more than 5 days!</p>
                </div>
                <div class="row">
                    <div class="col-md-12 buttons">
                        <a class="btn btn-success m-3" routerLink="/menue">Our Menue</a>
                        <button type="button" class="btn btn-success">Book a Table</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between mt-4 mb-4">
            <div class="col-7">
                <h4>Weekly Tasks</h4>
            </div>
        </div>
    </div>
</div>