<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center my-2"
      *ngFor="let product of products; index as productId">
      <div class="card">
        <img src="{{ product.image }}" class="d-none d-md-flex" style="height:20rem; object-fit:cover">
        <div class="text-center bg-dark text-white p-1"> {{ product.name }}</div>
        <div class="card-body">
          <p class="card-text">{{ product.description }}</p>
          <hr>
          <p class="card-text">{{ product.price | currency:"EUR" }}</p>
        </div>
        <hr>

        <div class="row">
          <ng-template [ngIf]="product.availability" [ngIfElse]="unavailable">
            <div class="col-md-12">
              <a class="btn btn-primary m-3" routerLink="/details/{{productId}}">Details</a>
              <button type="button" class="btn btn-success " (click)="addToCart(productId)">Order</button>
            </div>
          </ng-template>
          <ng-template #unavailable>
            <p class="text-danger">This product is not available.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>