<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 justify-content-center my-2">
            <div class="card">
                <div class="card-title">
                    <h3>Cart</h3>
                </div>
                <div class="card-body">
                    <div class="cart-item" *ngFor="let item of items">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="{{ item.image }}" class="d-none d-md-flex"
                                    style="height:80px; object-fit:cover">
                            </div>
                            <div class="col-sm-8">
                                <p>{{ item.name }} </p>
                                <p>{{ item.ingredients }}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{{ item.price | currency: "EUR" }}</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 justify-content-center my-2">
            <div class="card">
                <div class="card-title">
                    <h3>Summary</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p>Products: {{ productPrice() | currency: "EUR" }}</p>
                    </div>
                    <div class="row">
                        <p>Service {{ servicePrice() | currency: "EUR" }}</p>
                    </div>
                    <div class="row" *ngIf="discountPrice() > 0">
                        <p>Discount {{ discountPrice() | currency: "EUR" }}</p>
                    </div>
                    <hr>
                    <div class="row total">
                        <p>Total {{ totalPrice() | currency: "EUR" }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name">
                    Name
                </label>
                <input id="name" type="text" formControlName="name">
            </div>
            <div>
                <label for="address">
                    Address
                </label>
                <input id="address" type="text" formControlName="address">
            </div>
            <button class="button" type="submit">Purchase</button>
        </form>
    </div>